<% t = Time.now + 2700 %>

  <div class = "row">
    <div id = "logoarea"> Thoughtful food </div>
  </div>

  <div class="container-fluid">
    <div id="deliverydescrip">
    <h1>Have delicious food at your door by</h1><div class="timer"><%= t.strftime "%H:%M %P" %></div>
    <h1>Have your delicious food delivered in</h1><div class="timer"></div><h1>mins</h1>
    </div>
    <div class ="col-xs-10 col-xs-offset-2 buttoncontainer">
      <div id ="explorenow">
        <button type="button" class="btn btn-primary btn-lg btn-success">Explore our Food</button>
      </div>
      <div id ="loginform">
      </div>
    </div>
    <% [@western_food, @asian_food, @adven_food].each do |food| %>
      <div class="col-xs-4 randomimg">
        <p> You're going to love this <%= food.cuisine %> food.
        
        <p><a href = "/food_item/show/<%=food.id %>"><%= food.name %></a>

        <%= link_to food.name, {controller: 'food_item', action: 'show', id: food.id}, {class food.name} %> is ready for delivery to your door.

        <p>It comes from <%= food.restaurant_name %> for <%= food.price %>
        <p><img class = "img-responsive img-rounded " <%= image_tag food.photo_path %>
        <p>Harry gives it a big <%= food.harrys_choice ? "THUMBS UP" : "THUMBS DOWN" %>
      </div>
    <% end %>

    
   
  </div>

  <div class ="footer">
  </div>
